html{
 
    --font: 'Geologica', sans-serif;
}

body{
    font-family: var(--font);
}

a{
    color: black;
    display: block;
    padding:  10px 40px;
    font-size: 26px;
}


#photos{
display: flex;
flex-wrap: wrap;
justify-content:baseline;
}

#users{
    font-size: 60px;
}