*{
    font-family:Calibri; 
    margin: 0 auto;
    padding: 0;
    background-color: antiquewhite;

}

#text{
    margin-top: 10%;
    text-align: center;
    font-size: 4rem;
    padding: auto;
    margin-bottom: 10vh;
}


input {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 4rem;
    width: 10rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(203, 182, 155);
    background-image: linear-gradient(
      to top left,
      rgb(0 0 0 / 20%),
      rgb(0 0 0 / 20%) 30%,
      rgb(0 0 0 / 0%)
    );
    box-shadow:
      inset 2px 2px 3px rgb(255 255 255 / 60%),
      inset -2px -2px 3px rgb(0 0 0 / 60%);
  }
  
  input:hover {
    background-color:  rgb(219, 193, 158);
  }
  
  input:active {
    box-shadow:
      inset -2px -2px 3px rgb(255 255 255 / 60%),
      inset 2px 2px 3px rgb(0 0 0 / 60%);
  }

  #result {
    font-size: 2rem;
    text-align: center;
  }
  